<h1>Login</h1>
<form>
    <p>Email: </p><input type="email" name="email"><br>
    <p>Password: </p><input type="password" name="password"><br>
    <input type="submit" value="Login" type="button" name="login" formaction="/login" formmethod="POST">
</form>